@import './base.css';

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

header a {
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
}

main {
  padding: 20px;
}
