.font-small,
.font-small select {
  font-size: 12px;
}

.font-normal,
.font-normal select {
  font-size: 16px;
}

.font-big,
.font-big select {
  font-size: 20px;
}

h1 {
  font-size: 150%;
}

h2 {
  font-size: 130%;
}
